@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      font-family: sans-serif;
}

.card {
    width: 500px;
      height: 600px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      margin: 20px;
      padding: 10px;
      justify-self: anchor-center;
      position: relative;
}

.numero {
      font-size: 8rem;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .palo-top {
      font-size: 6rem;
      position: absolute;
      top: 5px;
      left: 5px;
      margin-left: 20px;
    }

    .palo-bottom {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 6rem;
      transform: rotate(180deg); 
      margin-right: 20px;
    }
    
    .button {
      margin-top: 15px;
      padding: 8px 12px;
      border-radius: 5px;
      border: 1px solid #333;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }